@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

*,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Fugaz One", sans-serif;
}

body{
    position: relative;
}

p {
  font-family: "Open Sans";
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.diasable-scroll{
    overflow-y: hidden;
}

:root {
  --backgroundColor: white;
  --mode-selector-position: 0;
  --image-selector-position: 0;
}

.toolbar {
  width: 100%;
  display: flex;
  height: 10vh;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.toolbar-options {
  display: flex;
  flex: 1;
  align-self: stretch;
  justify-content: space-evenly;

}
.toolbar-option {
  width: 150px;
  text-align: center;
  cursor: pointer;
}
.selector-container {
  width: 300px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;

}

.selector {
  width: 150px;
  position: absolute;
  height: 100%;
  border-radius: 5px;
  background-color: #a8e2b6;
  z-index: -1;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  transition: all 300ms ease;
}

#mode-selector{
    left: var(--mode-selector-position);
}

#img-selector{
    left: var(--image-selector-position);
}

#logo {
  width: 150px;
  object-fit: contain;
}

.background-image-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 90vh;
}

#background-image {
  width: 100%;
  object-fit: cover;
}

.black-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
}

.search-container {
  flex-direction: column;
  position: absolute;
  z-index: 5;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.search-container h1 {
  color: white;
}
.search-container p {
  color: white;
}

.searchbox {
  display: flex;
  gap: 10px;
  width: 60%;
  min-width: 400px;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
  min-height: 50px;
  background-color: white;
  border-radius: 5px;
}

#search-icon {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

input[name="search"] {
  flex: 1;
  font-family: "Open Sans", sans-serif;
  border: none;
  align-self: stretch;
}

input[name="search"]:focus {
  outline: none;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 100%;
}

.loading-indicator {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 50px auto;
}

.loading-large-dot {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: red;
  animation: loading 2s infinite;
}

.element {
  height: 200px;
  object-fit: contain;
}

.error-alert-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0,0, 0);
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease;
}

.error-alert{
    position: absolute;
    z-index: 11;
    flex-direction: column;
    background-color: firebrick;
    color: white;
    width: 60%;
    min-width: 400px;
    height: 50%;
    opacity: 0;
    border-radius: 5px;
    padding: 20px;
    gap: 20px;
    justify-content: flex-start;
    align-items: stretch;
    top: 100vh;
    display: none;
    transition: all 1s ease;
    
}

.showError{
    display: flex;
    opacity: 1;
    top: auto;
    transition: all 1s ease;
}

.error-alert img{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: all 300ms ease;
    border-radius: 15px;
}
.error-alert img:hover{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

@keyframes loading {
  0% {
    transform: translateX(0px) translateY(0px);
  }

  25% {
    transform: translateX(30px) translateY(0px);
    border-radius: 60%;
  }

  50% {
    transform: translateX(30px) translateY(30px);
    border-radius: 0%;
  }

  75% {
    transform: translateX(0px) translateY(30px);
    border-radius: 60%;
  }

  100% {
    transform: translateX(0px) translateY(0px);
    border-radius: 0%;
  }
}
